* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #5800FF;
  font-family: 'K2D', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 8px 0;
}

.counter-cont {
  height: 64vh;
  min-width: 280px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

.title__img-cont  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding-right: 15px;
  min-width: 85px;
  max-width: 150px;
}

.title__logo {
  height: 60px;
}

h1 {
  font-size: 4.6rem;
  width: 50%;
  max-width: 168px;
}

.counter-cont__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.author {
  margin: 25px 0 10px 0;
}
.author p {
  font-size: 1.3rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 6rem;
    max-width: 220px;
  }

  .title__img-cont  {
    margin-right: 10px;
  }

  .title__logo {
    height: 85px;
  }
}